/**
 * @file
 * RTL companion for the html-reset.css file.
 */


/*
 * Lists
 *
 * We need to standardize the list item indentation.
 */
ul,
ol {
  margin-right: 0;
  padding-left: 0;
  padding-right: 2em;
}

.item-list ul /* Drupal overrides */ {
  padding: 0 2em 0 0;
}

dd {
  margin: 0 2em 0 0;
}

