<div class="ppp-username">{{ link(user.pdn, url('ppp_legacy.member', {'member':user.uid})) }}</div>
<div class="ppp-usertitle">{{ user.title }}</div>
<div class="ppp-uid">Member # {{ user.uid }}</div>
